.link {
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: var(--cor-fonte-principal);
}

.linkDestacado {
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: var(--cor-fonte-principal);
  text-decoration: underline;
}

.activeMenuItem {
  background-color: var(--main-text-light);
  color: #184015;
}

.menuItem {
  color: var(--main-text-light);
}
